body {
  margin: 0;
  padding: 0;
  font-family: Futura, sans-serif;
  text-align: center;
  background: #ffffff;
  color: white;
}

/*#home {
  position: absolute;
  background-image: url("Images/laptop-bg.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}*/

a:hover {
  cursor: pointer;
}

.page {
  height: 100vh;
  width: 100%;
  display: inline-block;
  position: relative;
}

#home {
  position: relative;
  /*background: linear-gradient(rgba(32, 119, 178, 1),rgba(68, 171, 255, .9));*/
  background: #252a30;
}

#front-page {

}

.home-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}

#name-desc {
  letter-spacing: -4px;
  font-size: 52px;
  margin-bottom: -25px;
}

#lower-desc {
  letter-spacing: -2px;
  font-size: 30px;
}

.bottom-nav {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-anchors {
  right: 0;
  bottom: 15%;
  left: 0;
  font-size: 22px;
  /*border: 1px solid white;*/
  font-weight: bold;
  margin-bottom: 2%;
}

.nav-anchors a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin: 0px 20px;
  letter-spacing: -1px;
  transition: all 0.3s ease-in;
}

.nav-anchors a:hover {
  /*color: rgba(255, 255, 255, 0.8);*/
  color: #FED766;
  transition: all 0.3s ease-in;
}

#down {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  bottom: 0;
  margin-bottom: 2%;
  transform: rotate(45deg);
}

#down:hover {
  border: solid #FED766;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  bottom: 0;
  margin-bottom: 2%;
  transform: rotate(45deg);
  transition: all 0.1s ease-in;
}

#nav-options {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 0;
  left: 0;
  height: 11%;
  width: 100vw;
  background-color: rgba(71, 71, 71, 0.7);
}

#about {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#portfolio {
  background-color: rgba(232, 232, 232, 1);
  color: white;
}

#contact {
  background-color: white;
}

.contact-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
}

/*.tech-icons img {
  border: 1px solid white;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 2px;
}*/

#page-title {
  padding-top: 3%;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -2px;
  color: #252a30;
}

#page-info {
  font-weight: 100;
  color: gray;
  letter-spacing: -0.5px;
}

.page-wrapper {

}

.contact-wrapper {
  padding: 2% 0;
  background: #252a30;
}

.contact-wrapper a {
  padding-right: 1%;
}
/*
.page-wrapper p {
  margin-top: 20px;
}*/
